<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Activities.Activity_IntroductoryQuestion"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_PersonalInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_ResidenceInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_MeansInfoSelection"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_EmploymentInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_SelfEmployedInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_Finance"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_PensionInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_SpouseInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_SpouseResidenceInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_SpouseEmploymentInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_SpouseSelfEmploymentInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_SpousePensionInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_DisbursementInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_Dependent"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_Properties"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_OtherInfo"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_CoMaker"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_ComakerResidence"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.Activity_ReviewLoanApp"
            android:exported="false"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
    </application>

</manifest>