<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <activity
            android:name=".Activities.Activity_ImageLog"
            android:exported="false" />
        <activity
            android:name=".Activities.Activity_PostDcp"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_CollectionRemittance"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_LogCollection"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_CollectionList"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_Transaction"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_TransactionDetail"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
    </application>

</manifest>