<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.guanzongroup.ghostrider.dailycollectionplan">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application>
        <activity
            android:name=".Activities.Activity_CollectionRemittance"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_LogCollection"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_CollectionList"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_Transaction"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activities.Activity_TransactionDetail"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
    </application>

</manifest>