<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".Activity.Activity_ForgotPassword"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".Activity.Activity_CreateAccount"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".Activity.Activity_Login"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".Activity.Activity_Authenticate"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>