<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.guanzongroup.ghostrider.approvalcode">

    <application>
        <activity android:name=".Activity.Activity_ApprovalSelection"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme"
            android:label="Approval Selection"/>
        <activity
            android:name=".Activity.Activity_ApprovalCode"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme"
            android:label="Approval Entry" />
    </application>

</manifest>