<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name=".Activity.Activity_BranchRecord_Details"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_BranchRecords"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme"
            android:exported="false" />
        <activity
            android:name=".Dialog.Dialog_SelectAction"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_BranchList"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_Branch_Rate"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme"
            android:exported="true" />
    </application>

</manifest>