<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="org.rmj.guanzongroup.ghostrider.pacitaReward.Activity_Branch_Rate"
            android:exported="true"/>
    </application>

</manifest>