<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".Activity.Activity_CIHistoryInfo"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Activity_EvaluationHistoryInfo"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_CIApplication"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Activity.Activity_EvaluationList"
            android:label="CI Evaluation"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar" />
        <activity
            android:name=".Activity.Activity_EvaluationHistory"
            android:label="CI Evaluation"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar" />
    </application>

</manifest>