<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.guanzongroup.ghostrider.creditevaluator">

    <application>
        <activity android:name=".Activity.Activity_CIApplication"></activity>
        <activity
            android:name=".Activity.Activity_EvaluationList"
            android:label="CI Evaluation"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Activity.Activity_CreditEvaluator"
            android:label="CI Evaluation"
            android:screenOrientation="userPortrait" />
    </application>

</manifest>