<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.guanzongroup.ghostrider.creditevaluator">

    <application>
        <activity android:name=".Activity_EvaluationList"></activity>
        <activity android:name=".Activity_CreditEvaluator" />
    </application>

</manifest>