<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.guanzongroup.com.creditevaluation">

    <application>
        <activity
            android:name=".Activity.Activity_Evaluation"
            android:exported="true" />
    </application>

</manifest>