<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.Activity_EvaluationCIHistoryInfo"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_CIHistoryPreview"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_CIEvaluationList"
            android:screenOrientation="portrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
        <activity
            android:name=".Activity.Activity_EvaluationCIHistory"
            android:screenOrientation="portrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" /> <!-- <activity -->
        <!-- android:name=".Activity.Activity_ApplicationList" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Activity.Activity_Evaluation"
            android:screenOrientation="portrait"
            android:theme="@style/GhostRiderMaterialTheme.WhiteBG" />
    </application>

</manifest>