<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.rmj.guanzongroup.ghostrider.epacss">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="Manifest.permission.INTERNET" />
    <uses-permission android:name="Manifest.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="Manifest.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="Manifest.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="Manifest.permission.GET_ACCOUNTS" />
    <uses-permission android:name="Manifest.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".themeController.DarkThemeApplication"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/grider_launcher_foreground"
        android:label="@string/menu_home"
        android:roundIcon="@mipmap/grider_launcher_foreground_round"
        android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
        android:hardwareAccelerated="true">
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="userPortrait"/>
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar" />

        <service
            android:name=".Service.DataImportService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>