<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.guanzongroup.ghostrider.ahmonitoring">

    <uses-permission android:name="ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".Activity.Activity_PerformanceHistory"></activity>
        <activity
            android:name=".Activity.Activity_Monitoring"
            android:label="AH Monitoring"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Activity_Browser"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.Activity_CashCounter" />
        <activity
            android:name=".Activity.Activity_Inventory"
            android:label="Inventory"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Activity_Application"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>