<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.guanzongroup.ghostrider.griderscanner">

    <application>
        <activity android:name=".ClientInfo"
            android:screenOrientation="userPortrait"></activity>
        <activity android:name=".MainScanner"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ImageCrop"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar" />
        <activity
            android:name=".GriderScanner"
            android:screenOrientation="userPortrait"
            android:theme="@style/GhostRiderMaterialTheme.NoActionBar" />

    </application>

</manifest>