<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rmj.guanzongroup.ghostrider.griderscanner">

    <application>
        <activity android:name=".ImageCrop"></activity>
        <activity android:name=".GriderScanner"
            android:theme="@style/GhostRiderMaterialTheme"/>
    </application>

</manifest>